<% if @model == 'user' %>
<h2>Users search for "<%= @value %>"</h2>
<table class="table">
  <thead>
    <th>image</th>
    <th>name</th>
    <th colspan="3"></th>
  </thead>
  
  <tbody>
    <% @data.each do |user| %>
    <tr><%= attachment_image_tag (user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %></tr>
    <tr><%= user.name %></tr>
    <tr><%= link_to "show",user_path(user.id) %></tr>
    <tr></tr>
  </tbody>
</table>
<% end %>